/* profilePage CSS */
#profilepage {
    background: #8b67b2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,#3f1575, #edd3d1);
    background: linear-gradient(to right,#3f1575, #edd3d1);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #000;
  }
  
  .customer-profile .card {
    border-radius: 10px;
  }
  
  .customer-profile .card .card-header .profile_img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 10px auto;
    border: 10px solid #ccc;
    border-radius: 50%;
  }
  
  .customer-profile .card h3 {
    font-size: 20px;
    font-weight: 700;
  }
  
  .customer-profile .card p {
    font-size: 16px;
    color: #000;
  }
  
  .customer-profile .table th,
  .customer-profile .table td {
    font-size: 14px;
    padding: 5px 10px;
    color: #000;
  }
  
  @import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900');
  
  html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  article,
  header,
  section,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  main,
  nav,
  section,
  summary {
    display: block;
  }
  
  body {
    color: #222;
    font-size: 100%;
    line-height: 24px;
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
  }
  
  a {
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    outline: none;
  }
  
  a:hover,
  a:focus {
    color: #373e18;
  }
  
  section {
    float: left;
    width: 100%;
    padding-bottom: 3em;
  }
  
  h2 {
    color: #1a0e0e;
    font-size: 26px;
    font-weight: 700;
    margin: 0;
    line-height: normal;
    text-transform: uppercase;
  }
  
  h2 span {
    display: block;
    padding: 0;
    font-size: 18px;
    opacity: 0.7;
    margin-top: 5px;
    text-transform: uppercase;
  }
  
  #float-right {
    float: right;
  }
  
  /* Script Top */
  .ScriptTop {
    background: #fff none repeat scroll 0 0;
    float: left;
    font-size: 0.69em;
    font-weight: 600;
    line-height: 2.2;
    padding: 12px 0;
    text-transform: uppercase;
    width: 100%;
  }
  
  /* To Navigation Style 1 */
  .ScriptTop ul {
    margin: 24px 0;
    padding: 0;
    text-align: left;
  }
  
  .ScriptTop li {
    list-style: none;
    display: inline-block;
  }
  
  .ScriptTop li a {
    background: #6a4aed none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 18px;
    text-decoration: none;
    text-transform: capitalize;
  }
  
  .ScriptTop li a:hover {
    background: #000;
    color: #fff;
  }
  
  /* Script Header */
  * {
    box-sizing: border-box;
  }
  
  .ScriptHeader {
    display: flex;
    padding: 1em 0;
  }
  
  .rt-heading {
    padding: 0.5em;
    margin-left: 74em;
  }
  
  .Scriptcontent {
    line-height: 28px;
  }
  
  .ScriptHeader h1 {
    font-family: "brandon-grotesque", "Brandon Grotesque", "Source Sans Pro", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: #ffffff;
    font-size: 26px;
    font-weight: 1000;
    margin: 0;
    margin-left: 1em;
  }
  
  .ScriptHeader h1 span {
    display: block;
    padding: 0;
    font-size: 22px;
    opacity: 0.7;
    margin-top: 1em 0;
  }
  
  .ScriptHeader span {
    display: block;
    padding: 0;
    font-size: 22px;
    opacity: 0.7;
    margin-top: 1em 0;
  }
  
  .ScriptHeader button {
    background: #6a4aed;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    opacity: 80%;
  }
  
  /* profile image upload */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  .profile-image-section {
    /*width: 400px;*/
    background: #fff;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    color: #333;
  }
  
  /* circle image */
  .profile-image-section img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-top: 40px;
    margin-bottom: 30px;
  }